In [6]:
import pandas as pd
import numpy as np

In [9]:
df_modified = pd.read_csv("../data/raw/power_tetouan_city_modified.csv")

In [11]:
df_modified

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,mixed_type_col
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,NaN,34055.6962,16128.87538,20240.96386,624
1,1/1/2017 0:10,6.414,74.5,0.083,0.07,0.085,29814.68354,19375.07599,20131.08434,811
2,1/1/2017 0:20,6.313,74.5,0.08,0.062,0.1,29128.10127,19006.68693,19668.43373,unknown
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,bad
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.6962,17872.34043,18442.40964,879
...,...,...,...,...,...,...,...,...,...,...
53459,10/25/2017 4:10,17.95,89.0,4.916,0.059,0.185,24672.21007,15834.0249,10662.12766,638
53460,12/3/2017 16:00,14.43,75.6,0.082,60.16,61.03,26950.57034,21437.25069,9605.762305,472
53461,3/1/2017 15:50,21.59,54.67,0.086,516.0,357.9,32372.42553,20465.85366,15996.77419,bad
53462,7/22/2017 3:00,27.65,27.18,4.904,0.113,?,29189.10299,19830.37975,25361.07531,731
53463,7/8/2017 5:20,24.44,46.62,4.914,0.091,0.107,23097.40864,14620.25316,14978.41004,134

In [ ]:
df_original = pd.read_csv("../data/raw/power_tetouan_city_modified.csv")